<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Demo</title>
</head>

<body>
<br><br>

<a th:href="@{/formwork/add}">
    Add Formwork
</a>

    <table border = "1">
        <thead>
            <tr>
                <th>Formwork Name</th>
                <th>Create Date</th>
                <th>Info</th>
                <th>Details</th>
                <th>Action</th>
                <th>Project</th>
                <th>Compute Solution</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="tempFormwork : ${formworks}">
                <td th:text="${tempFormwork.name}"></td>
                <td th:text="${#dates.format(tempFormwork.createDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${tempFormwork.info}"></td>
                <td>
                    <a th:href="@{'/formwork/details/'+${tempFormwork.id}}">Details</a>
                </td>
                <td>
                    <a th:href="@{/formwork/delete(formworkId=${tempFormwork.id})}">Delete</a>
                </td>
                <td>
                    <span th:if="${tempFormwork.getFormworkProject().getResultJSON() == null}">
                        NEVER CALCULATED
                    </span>
                    <span th:if="${tempFormwork.getFormworkProject().getResultJSON() != null and
                                    tempFormwork.getFormworkProject().getIsBetterSolutionAvailable() == true}">
                        <a th:href="@{'/formwork/solution/'+${tempFormwork.id}}">BETTER SOLUTION</a>
                    </span>
                    <span th:if="${tempFormwork.getFormworkProject().getIsBetterSolutionAvailable() == false and
                                   tempFormwork.getFormworkProject().getResultJSON() != null}">
                        <a th:href="@{'/formwork/solution/'+${tempFormwork.id}}">THE BEST SOLUTION</a>
                    </span>

                </td>
                <td>
                    <span th:if="${tempFormwork.getFormworkProject().getResultJSON() == null}">
                        <a th:href="@{'/formwork/compute/'+${tempFormwork.id}}">CALCULATE</a>
                    </span>
                    <span th:if="${tempFormwork.getFormworkProject().getIsBetterSolutionCalculated() == true and
                                   tempFormwork.getFormworkProject().getResultJSON() != null}">
                        <a th:href="@{'/formwork/compute/'+${tempFormwork.id}}">CALCULATE BETTER SOLUTION</a>
                    </span>
                    <span th:if="${tempFormwork.getFormworkProject().getIsBetterSolutionAvailable() == false and
                                   tempFormwork.getFormworkProject().getResultJSON() != null}">
                        <a th:href="@{'/formwork/compute/'+${tempFormwork.id}}">THE BEST SOLUTION CALCULATED</a>
                    </span>
                    <span th:if="${tempFormwork.getFormworkProject().getIsBetterSolutionCalculated() == false and
                                   tempFormwork.getFormworkProject().getResultJSON() != null}">
                        CALCULATING
                    </span>

                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>